################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demos/ServiceHelper/obj
/.vs
/demos/.vs
/demos/SpeechChat/bin/Debug/net7.0
/demos/SpeechChat/obj
/demos/TextChat/bin/Debug/net7.0
/demos/TextChat/obj
/demos/ServiceHelper/bin/Debug/net7.0
/samples/dotnet/.vs
/samples/dotnet/ServiceHelper/bin/Debug/net7.0
/samples/dotnet/ServiceHelper/obj
/samples/dotnet/SpeechChat/bin/Debug/net7.0
/samples/dotnet/SpeechChat/obj
/samples/dotnet/TextChat/bin/Debug/net7.0
/samples/dotnet/TextChat/obj
/notebooks/semantic-kernel/dotnet/settings.json
/samples/dotnet/openai-multimodal-chat/ServiceHelper/bin/Debug/net7.0
/samples/dotnet/openai-multimodal-chat/ServiceHelper/obj
/samples/dotnet/openai-multimodal-chat/SpeechChat/bin/Debug/net7.0
/samples/dotnet/openai-multimodal-chat/SpeechChat/obj
/samples/dotnet/openai-multimodal-chat/TextChat/bin/Debug/net7.0
/samples/dotnet/openai-multimodal-chat/TextChat/obj
/samples/dotnet/CustomCopilot/.vs/CustomCopilot/DesignTimeBuild
/samples/dotnet/CustomCopilot/.vs
/samples/dotnet/CustomCopilot/bin/Debug/net8.0
/samples/dotnet/CustomCopilot/obj
/samples/dotnet/openai-multimodal-chat/.vs/AOI-Demo/FileContentIndex
/samples/dotnet/openai-multimodal-chat/.vs
/samples/dotnet/local-rag-sk/.vs
/samples/dotnet/local-rag-sk/bin/Debug/net8.0
/samples/dotnet/local-rag-sk/obj
